@import '_buttons.css';
@import '_forms.css';
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


@tailwind base;

.table {
    width: 100%;
    border-collapse: collapse;
    tr {
        @apply .border-b .border-b-2;
        &:nth-child(even) {
            @apply .bg-gray-400;
        }
        &:hover {
            /*
            # Uncomment For Table Hover Styles
            @apply .bg-gray-100;
            */
        }
        td,
        th {
            @apply .py-3 .px-4 .text-gray-800;
        }
    }
    /*
    # Uncomment For Table Hover Styles
    thead tr:hover {
        background: none;
    }
    */
    thead tr th {
        @apply .text-gray-600 .font-semibold;
    }
}

.table-tight {
    width: 100%;
    border-collapse: collapse;
    tr {
        @apply .border-b .border-b-2;
        &:nth-child(even) {
            @apply .bg-gray-400;
        }
        &:hover {
            /*
            # Uncomment For Table Hover Styles
            @apply .bg-gray-100;
            */
        }
        td,
        th {
            @apply .py-1 .px-2 .text-gray-800;
        }
    }
    /*
    # Uncomment For Table Hover Styles
    thead tr:hover {
        background: none;
    }
    */
    thead tr th {
        @apply .text-gray-600 .font-semibold;
    }
}

.pagination {
    @apply .list-reset .flex .items-center .rounded .shadow .mx-auto .my-6;

    .page-item .page-link {
        @apply .p-2 .no-underline .inline-block .bg-gray-900 .text-white .cursor-pointer;
        &:hover {
            @apply .bg-gray-800;
        }
    }
    .page-item.disabled .page-link {
        @apply .text-gray .cursor-default;
        &:hover {
            @apply .bg-gray-900;
        }
    }
    .page-item.active .page-link {
        @apply .bg-blue;
    }
    .page-item:first-child .page-link {
        border-radius: 4px 0 0 4px;
    }
    .page-item:last-child .page-link {
        border-radius: 0 4px 4px 0;
    }
}

@tailwind components;
@tailwind utilities;
