@import '_buttons.css';
@import '_forms.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */

.table {
    width: 100%;
    border-collapse: collapse;
    tr {
        @apply .border-b .border-b-2;
        &:nth-child(even) {
            @apply .bg-grey-lighter;
        }
        &:hover {
            /*
            # Uncomment For Table Hover Styles
            @apply .bg-grey-lightest;
            */
        }
        td,
        th {
            @apply .py-3 .px-4 .text-grey-darker;
        }
    }
    /*
    # Uncomment For Table Hover Styles
    thead tr:hover {
        background: none;
    }
    */
    thead tr th {
        @apply .text-grey-dark .font-semibold;
    }
}

.table-tight {
    width: 100%;
    border-collapse: collapse;
    tr {
        @apply .border-b .border-b-2;
        &:nth-child(even) {
            @apply .bg-grey-lighter;
        }
        &:hover {
            /*
            # Uncomment For Table Hover Styles
            @apply .bg-grey-lightest;
            */
        }
        td,
        th {
            @apply .py-1 .px-2 .text-grey-darker;
        }
    }
    /*
    # Uncomment For Table Hover Styles
    thead tr:hover {
        background: none;
    }
    */
    thead tr th {
        @apply .text-grey-dark .font-semibold;
    }
}

.pagination {
    @apply .list-reset .flex .items-center .rounded .shadow .mx-auto .my-6;

    .page-item .page-link {
        @apply .p-2 .no-underline .inline-block .bg-grey-darkest .text-white .cursor-pointer;
        &:hover {
            @apply .bg-grey-darker;
        }
    }
    .page-item.disabled .page-link {
        @apply .text-grey .cursor-default;
        &:hover {
            @apply .bg-grey-darkest;
        }
    }
    .page-item.active .page-link {
        @apply .bg-blue;
    }
    .page-item:first-child .page-link {
        border-radius: 4px 0 0 4px;
    }
    .page-item:last-child .page-link {
        border-radius: 0 4px 4px 0;
    }
}

@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
